
 .box{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;

  }

  button{
    border-radius: 10px;
    padding: 10px 30px;
    color: black;
    background-color: aqua;
    cursor: pointer;
    border: none;

  }
  button:active{
    color: rgb(13, 12, 12);
    background-color: white;

 } 